<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Codebro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-md="6">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>

                <ion-col size="10" offset="1">

                <form [formGroup]="this.modelService.signUp" [hidden]="showLoader">

                  <ion-item>
                    <ion-label position="floating">Your Full Name</ion-label>
                    <ion-input type="text" formControlName="adminName"></ion-input>
                  </ion-item>


                  <ion-item>
                    <ion-label position="floating">Company Name</ion-label>
                    <ion-input type="text" formControlName="companyName"></ion-input>
                  </ion-item>


                  <ion-item>
                    <ion-label position="floating">Business Email</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                  </ion-item>


                  <ion-item class="ion-margin-vertical" lines="none">
                    <ion-checkbox slot="start" formControlName="terms"></ion-checkbox>
                    <p slot="end">I agree to the
                      <a target="_blank" href="/terms-and-conditions">
                        Terms and Conditions
                      </a>
                      and
                      <a target="_blank" href="/privacy-policy">
                        Privacy Policy
                      </a>
                    </p>
                  </ion-item>

                  <ion-button expand="full" class="ion-margin-top" [disabled]="disableBtn" (click)="signUp()">Create
                    Account</ion-button>
                </form>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>