ion-content {
  --ion-background-color: #fafafa;
}

.projectSlides {
  height: 100%;
}

.containerItem {
  width: 100%;
  margin: auto;
}

.mainInput {
  color: #1b3a57;
  font-size: 32px;
  line-height: 40px !important;
  font-weight: 500 !important;
}
.secondInput {
  color: #1b3a57;
  font-size: 24px;
  line-height: 28px !important;
  font-weight: 400 !important;
}
